// Main page

// Top section
.top-section
    padding: 
        top: 165px
        bottom: 126px

    &__title
        margin-bottom: 0.520834em
        line-height: 1.13em
    
    &__descr
        margin-bottom: 1.875em
        line-height: 1.66em
        color: #4A4556
    
    &__link
        position: relative
        display: inline-block
        vertical-align: top
        font-family: $gilroyBold
        line-height: 54px
        letter-spacing: 0.02em

        &::before
            content: '+'
            display: block
            padding-left: 20px
            position: absolute
            top: 50%
            left: -48px
            width: 54px
            height: 54px
            font-size: 25px
            line-height: 54px
            margin-top: -27px
            background-color: #878787
            background-color: rgba(135, 135, 135, 0.05)
            border-radius: 111px
            color: $orange
            box-sizing: border-box
            text-align: left
            transition: width 0.4s ease-in-out

        &:hover,
        &:focus

            &::before
                width: 236px

// Image section
.image-section
    height: 600px
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

// Features section
.features-section
    height: 445px

.features-list
    position: relative
    top: -100px
    background-color: #fff
    z-index: 1

.features-item
    display: inline-block
    vertical-align: top
    padding:
        top: 50px
        left: 60px
        right: 60px
        bottom: 59px
    width: 50%
    border: 1px solid #ededed
    font-size: initial

    &__name
        margin-bottom: 1em
        font-size: 12px
        font-family: $dinBold
        line-height: 19px
        letter-spacing: 0.04em

    &__descr
        font-size: 24px
        font-family: $din
        line-height: 30px
        letter-spacing: -0.03em

// Content section
.content-section
    height: 737px

    &__title
        line-height: 60px

.text-content
    p
        line-height: 26px

// Advantages section
.advantages-section
    height: 737px

    &__title
        line-height: 50px

.advantages-list
    margin: 0 -30px

.advantages-item
    display: inline-block
    vertical-align: top
    margin: 0 15px
    width: calc(33.33% - 30px)
    font-size: initial

    &__icon
        vertical-align: top

    &__title
        position: relative
        margin: 
            top: 20px
            bottom: 40px
        font-size: 20px
        font-family: $dinBold
        line-height: 25px

        &::after
            content: ''
            display: block
            position: absolute
            top: 100%
            left: 0
            margin-top: 20px
            width: 24px
            height: 2px
            background-color: $orange
    
    &__descr
        line-height: 26px
        color: #4E4D53


// Form section
.form-section
    height: 1130px

    &__title
        line-height: 52px