/**
 * Form elements
 */
*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
	-webkit-appearance: none
	margin: 0

input[type='number']
	-moz-appearance: textfield

input:not([type=checkbox]):not([type=radio]),
textarea
	appearance: none

input:focus,
button:focus,
a:focus
	outline: none

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666