.container,
.container-md,
.container-sm,
.container-fluid
	margin: 0 auto
	padding: 0 10px

.container
	max-width: 1190px

.container-md
	max-width: 992px

.container-sm
	max-width: 793px

.container-fluid
	max-width: 100%

.wrapper
	font-size: 0
